<a href="https://colab.research.google.com/github/Taiba528/word-cloud/blob/master/Linear_Regressin_boston_dataset.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from sklearn import datasets
boston=datasets.load_boston()
boston.feature_names

array(['CRIM', 'ZN', 'INDUS', 'CHAS', 'NOX', 'RM', 'AGE', 'DIS', 'RAD',
       'TAX', 'PTRATIO', 'B', 'LSTAT'], dtype='<U7')

In [3]:
import pandas as pd
boston_df=pd.DataFrame(boston.data,columns=boston.feature_names)
boston_df.head (5)

      CRIM    ZN  INDUS  CHAS    NOX  ...  RAD    TAX  PTRATIO       B  LSTAT
0  0.00632  18.0   2.31   0.0  0.538  ...  1.0  296.0     15.3  396.90   4.98
1  0.02731   0.0   7.07   0.0  0.469  ...  2.0  242.0     17.8  396.90   9.14
2  0.02729   0.0   7.07   0.0  0.469  ...  2.0  242.0     17.8  392.83   4.03
3  0.03237   0.0   2.18   0.0  0.458  ...  3.0  222.0     18.7  394.63   2.94
4  0.06905   0.0   2.18   0.0  0.458  ...  3.0  222.0     18.7  396.90   5.33

[5 rows x 13 columns]

In [5]:
boston_df['House_Price']=boston.target
boston_df.head(5)

      CRIM    ZN  INDUS  CHAS  ...  PTRATIO       B  LSTAT  House_Price
0  0.00632  18.0   2.31   0.0  ...     15.3  396.90   4.98         24.0
1  0.02731   0.0   7.07   0.0  ...     17.8  396.90   9.14         21.6
2  0.02729   0.0   7.07   0.0  ...     17.8  392.83   4.03         34.7
3  0.03237   0.0   2.18   0.0  ...     18.7  394.63   2.94         33.4
4  0.06905   0.0   2.18   0.0  ...     18.7  396.90   5.33         36.2

[5 rows x 14 columns]

In [0]:
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactive="all"

In [0]:
x = boston_df.loc[:, 'RM'].values
y = boston_df.loc[:, 'House_Price'].values

In [21]:
#getting the feature and the target
x = boston_df.loc[:, 'RM'].values
y = boston_df.loc[:, 'House_Price'].values
x[0:5]
y[0:5]

array([24. , 21.6, 34.7, 33.4, 36.2])

In [22]:
from sklearn.model_selection import train_test_split
train_x,test_x,train_y,test_y=train_test_split(x,y,test_size=0.2,random_state=1)
train_x.shape
train_y.shape
test_x.shape 
test_y.shape

(102,)

In [0]:
train_x= train_x.reshape(-1, 1)
train_y= train_y.reshape(-1, 1)
test_x = test_x .reshape(-1, 1)

In [0]:
from sklearn.linear_model import LinearRegression
lm=LinearRegression()

In [25]:
lm.fit(train_x,train_y)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [33]:
predict_test_lm=lm.predict(test_x)
predict_test_lm[0:5]

array([[27.60519306],
       [26.26483541],
       [20.43033743],
       [19.0987403 ],
       [14.57831844]])

In [27]:
print(lm.coef_)

[[8.76050748]]

In [29]:
import numpy as np
print("R square value for regression test data is-")
np.round(lm.score(test_x,test_y)*100,2)

R square value for regression test data is-

58.77

In [35]:
from sklearn import metrics
print("simple linear regression Root Mean Square Error(RMSE) fro Test data:")
np.sqrt(metrics.mean_squared_error(test_y,predict_test_lm))

simple linear regression Root Mean Square Error(RMSE) fro Test data:

6.383135112649168